% rebase('base.html',PageTitle=PageTitle)

<div class="btn-toolbar">
	<div class="btn-group">
		<a class="btn btn-primary" href="/app/list/">
			<span class="glyphicon glyphicon-list"></span>
			应用列表
		</a>
		<a class="btn btn-primary" href="/app/new/">
			<span class="glyphicon glyphicon-plus"></span>
			新建应用
		</a>
	</div>
</div>
<br />

% include('Paginator.html',pco=pco,hqo=hqo)
<br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>名称</th>
			<th>描述</th>
			<th>APPKEY</th>
			<th>SECRET</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		% for i in lPage:
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.name}}</td>
				<td>{{i.desc}}</td>
				<td>{{i.appkey}}</td>
				<td><button class="btn btn-xs btn-info" onclick="prompt('{{i.secret}}')">查看</button></td>
				<td><a role="button" class="btn btn-xs btn-danger" href="/app/del/?aid={{i.id}}&hash={{i.gethash()}}">删除</a></td>
			</tr>
		% end
	</tbody>
</table>
<br />
% include('Paginator.html',pco=pco,hqo=hqo)
	
