% rebase('base.html',PageTitle=PageTitle)

<div class="btn-toolbar">
	<div class="btn-group">
		<a class="btn btn-primary" href="/app/list/">
			<span class="glyphicon glyphicon-list"></span>
			应用列表
		</a>
		<a class="btn btn-primary" href="/app/new/">
			<span class="glyphicon glyphicon-plus"></span>
			新建应用
		</a>
	</div>
</div>
<br />

% include('Paginator.html',pco=pco,hqo=hqo)
<br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>名称</th>
			<th>描述</th>
			<th>APPKEY</th>
			<th>SECRET</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		% for i in lPage:
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.name}}</td>
				<td>{{i.desc}}</td>
				<td>{{i.appkey}}</td>
				<td><button class="btn btn-xs btn-info" onclick="prompt('{{i.secret}}')">查看</button></td>
				<td>
					% if i.name == "zlogsys":
						<a role="button" class="btn btn-xs btn-danger" href="" disabled="disabled">删除</a>
						<button class="btn btn-xs btn-info" disabled="disabled">新建日志源</button>
					% else:
						<a role="button" class="btn btn-xs btn-danger" href="/app/del/?aid={{i.id}}&hash={{i.gethash()}}">删除</a>
						<button class="btn btn-xs btn-info" onclick="addlogsrc({{i.id}})">新建日志源</button>
					% end
				</td>
			</tr>
		% end
	</tbody>
</table>
<br />
% include('Paginator.html',pco=pco,hqo=hqo)

<!-- Modal -->
<div class="modal fade" id="modalAddLogSrc" tabindex="-1" role="dialog" aria-labelledby="modalAddLogSrcLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form method="POST" action="/src/new/" onkeydown="if(event.keyCode==13)return false;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalAddLogSrcLabel">新建日志源</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" id="src_appid" name="aid" value="">
					<div class="form-group">
						<label for="srcname">日志源名称</label>
						<input type="text" class="form-control" id="srcname" placeholder="日志源名称" name="name">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary" >确定</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	function addlogsrc(appid){
		$("#src_appid").val(appid);
		$("#modalAddLogSrc").modal('show');
	}
</script>