% rebase('base.html',PageTitle=PageTitle)

<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>

{{!fthtml}}

% include('Paginator.html',pco=pco,hqo=hqo)
<br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>来源</th>
			<th>时间</th>
			<th>级别</th>
			<th>类型</th>
			<th>内容</th>
		</tr>
	</thead>
	<tbody>
		% for i in lPage:
			<tr>
				<td>{{i.src.name}}@{{i.src.app.name}}</td>
				<td>{{i.time}}</td>
				<td>{{i.level}}</td>
				<td>{{i.type}}</td>
				<td><a type="button" href="javascript:void(0);" class="btn btn-xs btn-info">查看</a>{{MakeSummary(i.content,30)}}</td>
			</tr>
		% end
	</tbody>
</table>
<br />
% include('Paginator.html',pco=pco,hqo=hqo)
	
