% rebase('base.html',PageTitle=PageTitle)
<h1>管理登陆</h1>

<script type="text/javascript" src="/static/js/jsbn.js"></script>
<script type="text/javascript" src="/static/js/prng4.js"></script>
<script type="text/javascript" src="/static/js/rng.js"></script>
<script type="text/javascript" src="/static/js/rsa.js"></script>
<script type="text/javascript" src="/static/js/base64.js"></script>

<script>
	function crypt(){
	var e_,n_,u_,p_;
	n_=$('#HakureiReimu').val();
	e_=$('#Cirno').val();
	u_=$('#user').val();
	p_=$('#pass').val();
	console.log(e_);
	console.log(n_);
	try{
		var rsa = new RSAKey();
		rsa.setPublic(n_, e_);
		var res = rsa.encrypt(u_);
	}catch(err){
		alert("传输加密失败，错误详情如下：\n"+err);
		return false;
	}
	if(res) {
	    $('#user').val(hex2b64(res));
	    console.log(res);
	}else{
	alert("传输加密失败，错误原因未知！");
	return false;
	}

	try{
		var rsa = new RSAKey();
		rsa.setPublic(n_, e_);
		var res = rsa.encrypt(p_);
	}catch(err){
		alert("传输加密失败，错误详情如下：\n"+err);
		return false;
	}
	if(res) {
	    $('#pass').val(hex2b64(res));
	    console.log(res);
	}else{
	alert("传输加密失败，错误原因未知！");
	return false;
	}
	return true;
	//return confirm("Submit?");
	}
</script>

<input type="hidden" id="HakureiReimu" value="{{keyn}}" />
<input type="hidden" id="Cirno" value="{{keye}}" />

<div class="container" style="width:40%">
	<div class="well-lg">
		% if errcode == "530":
		<div class="alert alert-danger" role="alert"><b>登陆失败：</b>用户名或密码错误！</div>
		%end
		% if errcode == "400":
		<div class="alert alert-danger" role="alert"><b>登陆失败：</b>RSA数据解密失败！这可能是因为您的浏览器不支持JS。</div>
		%end
		<form action="" method="post" onsubmit="return crypt();">
			<input type="hidden" name="referer" id="referer" value="{{ref}}" />
			<label  class="sr-only">账 号</label>
			<input class="form-control lgipt" id="user" name="username" placeholder="请输入用户名" type="text" value="" />
			<label  class="sr-only">密 码</label>
			<input class="form-control lgipt" id="pass" name="password" placeholder="请输入密码" type="password" value="" />
			<br />
			<button class="btn btn-primary btn-lg btn-block" type="submit" name="submit" value="提交">
				<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				&nbsp;&nbsp;&nbsp;登陆
			</button>
			<!-- 						<div class="row">
			<div class="col-md-3 col-md-offset-3"></div>
			<div class="col-md-3"></div>
		</div>
		-->
	</form>
</div>
</div>

<script type="text/javascript">
	$("#user").val("");
	$("#pass").val("");
</script>