<div class="panel-group" id="sidebar_menu" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="sm_h_authinfo">
            <h4 class="panel-title">
                <span role="button" onclick="rec_menupos(0)" data-toggle="collapse" data-parent="#sidebar_menu" href="#sm_b_authinfo" aria-expanded="true" aria-controls="sm_b_authinfo">
                    <span class="glyphicon glyphicon-user btn-xs"></span>
                    用户信息
                </span>
            </h4>
        </div>
        <div id="sm_b_authinfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sm_h_authinfo">
            <div class="panel-body">
                <p>用户名：{{auth.username}}</p>
                <p>用户类型：管理员</p>
                <p>（该版本暂无权限分级）</p>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-log-out btn-xs"></span>
                            <a href="/logout/">退出登陆</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="sm_h_logsrc">
            <h4 class="panel-title">
                <span role="button" onclick="rec_menupos(1)" data-toggle="collapse" data-parent="#sidebar_menu" href="#sm_b_logsrc" aria-expanded="true" aria-controls="sm_b_logsrc">
                    <span class="glyphicon glyphicon-cloud btn-xs"></span>
                    日志源管理
                </span>
            </h4>
        </div>
        <div id="sm_b_logsrc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sm_h_logsrc">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-th-large btn-xs"></span>
                            <a href="/app/list/">应用管理</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-th btn-xs"></span>
                            <a href="/src/list/">来源管理</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="sm_h_logmgr">
            <h4 class="panel-title">
                <span role="button" onclick="rec_menupos(2)" data-toggle="collapse" data-parent="#sidebar_menu" href="#sm_b_logmgr" aria-expanded="true" aria-controls="sm_b_logmgr">
                    <span class="glyphicon glyphicon-console btn-xs"></span>
                    日志管理
                </span>
            </h4>
        </div>
        <div id="sm_b_logmgr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sm_h_logmgr">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-list btn-xs"></span>
                            <a href="/log/list/">日志列表</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="sm_h_repeater">
            <h4 class="panel-title">
                <span role="button" onclick="rec_menupos(3)" data-toggle="collapse" data-parent="#sidebar_menu" href="#sm_b_repeater" aria-expanded="true" aria-controls="sm_b_repeater">
                    <span class="glyphicon glyphicon-folder-open btn-xs"></span>
                    转发器
                </span>
            </h4>
        </div>
        <div id="sm_b_repeater" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sm_h_repeater">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-search btn-xs"></span>
                            <a href={% url "projxlib" %}>测评档案查询</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-save btn-xs"></span>
                            <a href="{% url 'projlib' %}">测评档案生成导出</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-search btn-xs"></span>
                            <a href={% url "projxrecode" %}>测评报告查询</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-save btn-xs"></span>
                            <a href="{% url 'projrecode' %}">测评报告生成导出</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="sm_h_crontab">
            <h4 class="panel-title">
                <span role="button" onclick="rec_menupos(4)" data-toggle="collapse" data-parent="#sidebar_menu" href="#sm_b_crontab" aria-expanded="true" aria-controls="sm_b_crontab">
                    <span class="glyphicon glyphicon-heart-empty btn-xs"></span>
                    任务计划
                </span>
            </h4>
        </div>
        <div id="sm_b_crontab" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sm_h_crontab">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-user btn-xs"></span>
                            <a href={% url "cs_wsa_reg" %}>咨询师管理</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-time btn-xs"></span>
                            <a href="{% url 'cs_wsabhist' %}">预约管理</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-comment btn-xs"></span>
                            <a href={% url "lmbrurl" %}>留言管理</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-pencil btn-xs"></span>
                            <a href="{% url 'cs_interview' %}">访谈管理</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript">
    menuid_list=[
        "#sm_b_authinfo",
        "#sm_b_logsrc",
        "#sm_b_logmgr",
        "#sm_b_repeater",
        "#sm_b_crontab"
    ];
    function LoadMenuPos(){
        for (var i = menuid_list.length - 1; i >= 0; i--) {
            var mnid=menuid_list[i];
            $(mnid).collapse('hide');
        };
        var posid = $.cookie('backend_menupos');
        if(!posid){
            posid = 0;
        }
        $(menuid_list[posid]).collapse('show');
    }
    function rec_menupos(mpos){
        $.cookie('backend_menupos', mpos, { path: "/"});
        LoadMenuPos();
    }
    LoadMenuPos();
</script>